<div class="container">
    <h1 class="text-style">Every great software development begin with an even better story</h1>
    <p class="desc">Since beginning my journey as a software developer nearly 1 years ago, I've done work for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my software development problem at a time.</p>
</div>
<div class="container">
    <h1 class="text-style">Education & Experience</h1>
    <div class="row" >
        <div class="round">
            <h2 class="text">2022 - 2023<br><br> 
                React Native Developer
                Curzenn Sas(Remote), Mumbai</h2>
        </div>
        <div class="round">
            <h2 class="text">2021 - 2022<br><br> 
                Software Developer
                Feather Software Solutions, Nagercoil</h2>
        </div>
        <div class="round">
            <h2 class="text">2020 - 2021<br><br> 
                Software Development Traniee
                Daypay technologies, Nagercoil</h2>
        </div>
        <div class="round">
            <h2 class="text">2018 - 2020<br><br>
                Master degree(MCA)
                Hindusthan College,Bharathiar University,Coimbatore</h2>
        </div>
        <div class="round">
            <h2 class="text">2015 - 2018<br><br>
                Bachelor degree(BSC CS)
                RVS College,Bharathiar University,Coimbatore</h2>
        </div>
     </div>
</div>

