.text-style {
    color:#333;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 50px;
    width:fit-content;
    font-style: normal;
    margin: 1%;
}
.desc {
    color: rgb(111 107 128);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size:20px;
    width:fit-content;
    font-style: normal;
    margin: 1.5%;
}
.container {
    /* background-color:darkgrey; */
    padding: 1%;
    margin-top: 2%;
}

.text {
    color: #333;    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 15px;
    width:fit-content;
    font-style: normal;
    margin: 2%;
}
.input-text {
    color:#333;
    font-family: 'Times New Roman', Times, serif;
    font-weight:200;
    font-size: 15px;
    width: 80%;
    padding: 10px;
    font-style: normal;
    margin: 2%;
    cursor: pointer;
}

.input-msg {
    color:#333;
    font-family: 'Times New Roman', Times, serif;
    font-weight:200;
    font-size: 15px;
    width: 80%;
    padding: 10px;
    padding-bottom: 10%;
    font-style: normal;
    margin: 2%;
    border-radius: 5px;
    cursor: pointer;
}
.row {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    padding-top: 2%;
}  
.btn {
    background-color:lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: 20px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border-color:lightgray;
    cursor:pointer;
    font-style: normal;
    margin: 2%;
    color:#333;
}
.btn:hover {
    background-color: rgb(247 80 35);
    color: #fff;
}

.button {
    background-color:#fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: 20px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border-color:lightgray;
    cursor:pointer;
    font-style: normal;
    margin: 2%;
    color:#333;
    text-decoration-line: none;
    text-align:center;
    width: 50%;
}

.button:hover{
    background:rgb(247 80 35);
    color: #ffffff;
}


 
  
