<div class="container">
    <h1 class="text-style">Let's Work Together!</h1>
    <p class="desc">agowtham2625@gmail.com</p>
    <div class="row" >
        <div>
            <h2 class="text">FULL NAME *</h2>
            <input class="input-text" placeholder="Your Full Name"  />
        </div>
        <div>
            <h2 class="text">EMAIL *</h2>
            <input class="input-text" placeholder="Your email adress" />
        </div>
     </div>
     <div class="row" >
        <div>
            <h2 class="text">PHONE (optional)</h2>
            <input class="input-text" placeholder="Your phone number" />
        </div>
        <div>
            <h2 class="text">MESSAGE</h2>
            <textarea class="input-msg" placeholder="Write your message here..."></textarea>
        </div>
     </div>
     <div class="row">
        <div>
            <button class="btn">Submit</button>
        </div>
        <a class="button" routerLinkActive="activebutton" href="../assets/resume/Gowtham Resume.pdf" title="" download>
            Download Resume 
          </a>
     </div>
     
</div>

