<div class="container">
    <h1 class="text-style">Technical skills</h1>
     <div class="row" >
        <div class="round">
            <h2 class="text">90%<br><br> 
                React Native</h2>
        </div>
        <div class="round">
            <h2 class="text">70%<br><br> 
                Angular</h2>
        </div>
        <div class="round">
            <h2 class="text">60%<br><br> 
                HTML&CSS</h2>
        </div>
        <div class="round">
            <h2 class="text">50%<br><br>
                MySql</h2>
        </div>
        <div class="round">
            <h2 class="text">60%<br><br>
                Java</h2>
        </div>
     </div>
     <div class="row" >
        <div class="round">
            <h2 class="text">80%<br><br> 
                Javascript</h2>
        </div>
        <div class="round">
            <h2 class="text">50%<br><br> 
                Typescript</h2>
        </div>
        <div class="round">
            <h2 class="text">60%<br><br> 
                React js</h2>
        </div>
        <div class="round">
            <h2 class="text">90%<br><br>
                Git</h2>
        </div>
        <div class="round">
            <h2 class="text">60%<br><br>
                Firebase</h2>
        </div>
     </div>
</div>


