<div class="container">
    <h1 class="text-style">Project deals with web applications</h1>
    <h1 class="sub-text">Ayur Medicine</h1>
     <div class="row" >
        <div>
            <img src="../../assets/1.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Ayur Medicine - 1</h2>
        </div>
        <div>
            <img src="../../assets/2.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Ayur Medicine - 2</h2>
        </div>
     </div>
     <br>
     <div class="row" >
        <div>
            <img src="../../assets/3.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Ayur Medicine - 3</h2>
        </div>
        <div>
            <img src="../../assets/4.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Ayur Medicine - 4</h2>
        </div>
     </div>
</div>

<br>
<div class="container">
    <h1 class="sub-text">BDA</h1>
     <div class="row" >
        <div>
            <img src="../../assets/bda1.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                BDA - 1</h2>
        </div>
        <div>
            <img src="../../assets/bda2.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                BDA - 2</h2>
        </div>
     </div>
</div>

<br>
<div class="container">
    <h1 class="sub-text">Finearct</h1>
     <div class="row" >
        <div>
            <img src="../../assets/f1.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Finearct - 1</h2>
        </div>
        <div>
            <img src="../../assets/f2.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Finearct - 2</h2>
        </div>
     </div>
     <br>
     <div class="row" >
        <div>
            <img src="../../assets/f3.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Finearct - 3</h2>
        </div>
        <div>
            <img src="../../assets/f4.png" alt="Girl in a jacket" width="100%" height="100%">
            <h2 class="text">
                Finearct - 4</h2>
        </div>
     </div>
</div>

<br>
<div class="container">
    <h1 class="text-style">Project deals with mobile applications</h1>
    <h2 class="sub-text">Ayuryogams</h2>
     <div class="row" >
        <div>
            <img src="../../assets/5.jpeg" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Ayuryogams - 1</h2>
        </div>
        <div>
            <img src="../../assets/6.jpeg" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Ayuryogams - 2</h2>
        </div>
        <div>
            <img src="../../assets/7.jpeg" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Ayuryogams - 3</h2>
        </div>
        <div>
            <img src="../../assets/8.jpeg" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Ayuryogams - 4</h2>
        </div>
     </div>
</div>


<div class="container">
    <h1 class="sub-text">None</h1>
     <div class="row" >
        <div>
            <img src="../../assets/None1.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                None - 1</h2>
        </div>
        <div>
            <img src="../../assets/None2.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                None - 2</h2>
        </div>
        <div>
            <img src="../../assets/None5.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                None - 3</h2>
        </div>
        <div>
            <img src="../../assets/None6.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                None - 4</h2>
        </div>
     </div>
</div>

<div class="container">
    <h1 class="sub-text">Sur4plot</h1>
     <div class="row" >
        <div>
            <img src="../../assets/sur1.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Sur4plot - 1</h2>
        </div>
        <div>
            <img src="../../assets/sur2.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Sur4plot - 2</h2>
        </div>
        <div>
            <img src="../../assets/sur3.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Sur4plot - 3</h2>
        </div>
        <div>
            <img src="../../assets/sur4.webp" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Sur4plot - 4</h2>
        </div>
     </div>
</div>

<div class="container">
    <h1 class="sub-text">Fe2a</h1>
     <div class="row" >
        <div>
            <img src="../../assets/fe2a1.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Fe2a - 1</h2>
        </div>
        <div>
            <img src="../../assets/fe2a2.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Fe2a - 2</h2>
        </div>
        <div>
            <img src="../../assets/fe2a4.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Fe2a - 3</h2>
        </div>
        <div>
            <img src="../../assets/fe2a6.png" alt="Girl in a jacket" width="80%" height="60%">
            <h2 class="text">
                Fe2a - 4</h2>
        </div>
     </div>
</div>




