
<nav class="backtheme">
  <div class="imgcontent">
    <img src="../assets/gow-logo.png" alt="me" width="50%" height="50%">
  </div>
  <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Home
  </a>
  <a class="button" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    About
  </a>
  <a class="button" routerLink="/portfolio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Portfolio
  </a>
  <a class="button" routerLink="/skills" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Skills
  </a>
  <a class="button" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Contact
  </a>
</nav>

<router-outlet></router-outlet>