  <div class="container">
   <div>
    <h1 class="text-style">Hi there, I am Gowtham, React Native Developer</h1>
    <p class="desc">I'm a web and mobile application developer & user‑friendly experiences, 
        I am passionate expertise in coding and debugging software applications, 
        and ability to design and develop efficient and reliable software
        solutions to help a company achieve its organizational goals.
        I design and code integrated simple things and i love what i do. 
        Just simple like that!</p>
    </div> 
     <img src="../../assets/me5.jpg" alt="me" width="20%" height="20%" class="img-align"  />
  </div>
 <div class="row" >
    <div class="round">
        <h2 class="text">2+ YEARS OF TOTAL EXPERIENCE</h2>
    </div>
    <div class="round">
        <h2 class="text">1+ YEARS OF EXPERIENCE IN REACT NATIVE</h2>
    </div>
    <div class="round">
        <h2 class="text">6+ PROJECTS COMPLETED</h2>
    </div>
    <div class="round">
        <h2 class="text">25+ PROJECTS RESPONSIVE SCREEN PREPARATION</h2>
    </div>
 </div>
